:root {
    --fw-reg: 300;
    --fw-bold: 900; 
     
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-h4: 1.25rem;
    --fs-body: 1rem;
}

body {
    background-color: lightblue;
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: normal;
}

img {
    display: block;
    max-width: 100%;
}

h1
h2
h3
h4 {
    line-height: normal;
    margin: 0%;

}

h1 { font-size: var(--fs-h1);}
h2 { font-size: var(--fs-h2);}
h3 { font-size: var(--fs-h3);}
h4 { font-size: var(--fs-h4);}

.section__title {
    margin-bottom: .25m;

}

.section__subtitle {
    margin: 0%;
    font-size: var(--fs-h3);
}